

params {
    reads        = "data/*_{1,2}.fastq.gz"
    reference    = "reference.fa"
    outdir       = "results"
    rlibrary     = "pair-ends"
    rplat        = "ILL"
    debug        = true
}


process {

   withName: 'bwa_index' {
        memory = '5.GB'
        cpus = 2
    }

   withName: 'samtools_index' {
        memory = '5.GB'
        cpus = 2
    }

    withName: 'aln_pipe' {
        memory = '5.GB'
        cpus = 2
    }

    withName: 'qualimap' {
        memory = '5.GB'
        cpus = 4
    }

    withName: 'instrain_variant_calling' {
        memory = '5.GB'
        cpus = 4
    }
    withName: 'multiqc' {
        memory = '5.GB'
        cpus = 1
    }
}

//Profiles
profiles {

    kutral {
        singularity.enabled    = true
        singularity.autoMounts = true
	singularity.runOptions = ' --bind /mnt/beegfs/labs/ '
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
	process.executor = 'slurm'		
	process.queue = 'ngen-ko'		
        executor.queueSize = 10
    }

    leftraru{
        executor.name = 'slurm'
        executor.queue = 'slims'
        executor.queueSize = 200
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

}


//trace data

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/digenoma-lab/snps_mags'
    author = 'Alex Di Genova'
    version = '0.0.1'
} 
